/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #e67e22
- Tints:
#fdf2e9
#fae5d3
#eb984e

- Shades: 
#cf711f
#45260a

- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

:root {
    --BG-COLOR:#e67e22;
    --SHADE: #cf711f;
    --TINT:#eb984e;
    --TINT-BG:#eb974e74;
    --COLOR-SEC:#ffffff;
    --COLOR-PRI:#000000;
    --LEFT-RIGHT-PADDING:10rem;
    --TOP-BOTTOM-PADDING:0rem;
    --FONT-FAMILY-PRI:sans-serif;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    height: 100%;
    width: 100%;
}


/* ---------------------------------admin-page------------------------------ */

.admin_container{
    position: relative;
    margin:13rem 10rem 3rem;
    border-top: 2px solid var(--BG-COLOR);
    min-height: calc(50vh);
    border-radius: 5px;
    padding: 0rem 2rem;
}
.policy_container,.agent_container{
    display: none;
    border: 2px solid var(--BG-COLOR);
    border-radius:5px ;
    margin-top: 30px;
}

.container_visible{
    display: block;
}

.btn_container{
    position: absolute;
    transform: translate(6rem,-50%);
    display: flex;
    gap: 2rem;
}

.main_btn{
    display: inline-block;
    height: 3.5rem;
    font-size: 2.5rem;
    font-family: sans-serif;
    color: var(--BG-COLOR);
    background-color: white;
    padding:0rem 1rem;
    border: 0px;
    border-left: 3px solid var(--BG-COLOR);
    border-right: 3px solid var(--BG-COLOR);
    border-radius: 5px;
}

.btn_active{
    color:white;
    background-color: var(--BG-COLOR);
    border: 3px solid var(--BG-COLOR);
}

.table{
    width: 100%;
    padding: 0px 30px;
    text-align:left;
    border-collapse: collapse;
}

.heading_row{
    background-color: var(--BG-COLOR);
    height: 7px;
    font-size: 2.5rem;
    font-family: sans-serif;
    font-weight: 700;
    color: white;
    text-align: center;
}

.delete_btn{
    height: 3rem;
    width: calc(100% - 5px);
    border: 2px solid blanchedalmond;
    background-color: tomato;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0.2s;
}

.delete_btn:hover{
    transform: scale(1.1);
    background-color:rebeccapurple;
}

.row{
    border-bottom: 1px solid #cf6666;
    height: 4rem;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 500;
    transition: all 0.3s ease-in-out 0.2s;
}
.row:last-child{
    border-bottom: 0px solid #cf6666;
}

.row:hover {
    background-color: #D6EEEE;
}

.row:hover:first-child {
    background-color: var(--BG-COLOR);
}

.col{
    border-right:1px solid #cf6666;
    color:var(--TINT);
    height: inherit;
}

.col:last-child{
    border-right:0px solid #cf6666;
}

.col .link_data{
    display:block;
    height:100%;
    width: 100%;
    text-decoration: none;
    color: var(--TINT);
    margin: 0;
    transition: all 0.3s ease-in-out 0.2s;
}

.col .link_data:hover {
    background-color: var(--TINT);
    color: white;
}

.checkbox_data{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
}
.checkbox_data input{
    display: block;
    height: 75%;
    width: 75%;
}

@media (max-width: 1000px){
    .admin_container{
        margin:0rem;
        margin: auto;
        margin-top:13rem ;
    }

    .container_visible{
        width: 70rem;
    }

    .overflow_handler{
        padding:0rem 2rem 2rem;
        margin-top: 3rem;
        overflow-x: scroll;
        overflow-y: visible;
        scrollbar-color: var(--SHADE);
        --webkit-scrollbar-color: var(--SHADE);
        scrollbar-width: 50px;
        --webkit-scrollbar-width: 50px;
        --webkit-scrollbar-base-color: var(--TINT);
        border-radius: 5px;
        border: 1px solid var(--BG-COLOR)
    }
}

@media (max-width: 550px){
    .btn_container{
        transform: translate(2rem,-50%);
        gap: 1rem;
    } 
}
@media (max-width: 412px){
    .overflow_handler{
        padding:0rem 1rem 2rem;
    }
    .admin_container{
       padding: 0.5rem;
    }
    .btn_container{
        transform: translate(1rem,-55%);
        gap: 0.5rem;
    } 

    .main_btn{
        height: 3rem;
        font-size: 2rem;
        padding:0rem 0.3rem;
    }
}

@media (max-width: 302px){
    .btn_container{
        transform: translate(0.5rem,-55%);
        gap: 0.2rem;
    } 

    .main_btn{
        height: 3rem;
        font-size: 2rem;
        padding:0rem 0.3rem;
    }
}
/*-------------------------------- contact us------------------------------ */



.contact-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-image:linear-gradient(55deg, #ef7c1894 10%, #d550389e);
    /* padding: 0rem 0rem 3rem 0rem; */
}
.contact-us_boxes{
    display: grid;
    grid-template-columns: 48rem 32rem 32rem;
    gap: 5rem;
    margin: 3rem auto;
}

.boxes_contact-us{
    width: 100%;
    margin:0rem auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--COLOR-SEC);
}

.contact_boxes_heading{
    font-size: 3.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -0.75px;
    color: var(--COLOR-SEC);
    margin: 5rem 0rem 0rem 0rem;
}

.list{
    display:flex;
    flex-direction: column;
    justify-content: left;
    list-style: none;
}

.contact-us_list-item{
    margin: 1rem 0rem;
}

.contact-us_content{
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 1.4;
    letter-spacing: -0.5px;
    margin: 3rem 0rem 0rem 0rem;
}

.contact-us_list-item a:link, .contact-us_list-item a:hover, .contact-us_list-item a:visited{
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 1.4;
    letter-spacing: -0.5px;
    margin: 3rem 0rem 0rem 0rem;
    text-decoration: none;
    color: var(--COLOR-SEC);
}

.contact-us_content li::before{
    display: inline-block;
    content:url('https://img.icons8.com/ios-glyphs/20/cc0903/double-right--v1.png');
    padding-top:0.5rem;
}

.contact-us_contact_content{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 1rem;
}

.contact-us_my_mail, .contact-us_my_mobile{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 1rem 0rem;
}

.contact-us_my_mail img, .contact-us_my_mobile img{
    height: 3rem;
    width: 3rem;
    gap: 3rem;
}

.contact-us_my_mail a, .contact-us_my_mobile a{
    display: block;
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 1.4;
    letter-spacing: -0.5px;
    text-decoration: none;
    color: var(--COLOR-SEC);
    
}

/* ------------------------------loader--------------------- */

.loader_container{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color:transparent;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s ease-in-out 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader_container-visible{
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s ease-in-out 0.1s;
}

.loader{
    height: 200px;
    width: 200px;
    border-radius: 5px;
    background-color: rgba(245, 245, 245, 0.814);
    position: relative;
}

@keyframes change {
    0% {
        transform:translate(-50%,-50%) rotateZ(0deg);
    }
    100% {
        transform:translate(-50%,-50%) rotateZ(360deg);
    }
}

.loader::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 75%;
    width: 75%;
    box-sizing: border-box;
    border-radius: 50%;
    transform:translate(-50%,-50%) rotateZ(0deg);
    border:9px solid transparent;
    border-top:9px solid var(--SHADE);
    z-index: 1;
    animation: change 0.8s linear both normal 0.2s infinite;
}
/* ------------------------------modal--------------------- */

.modal_container{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color:transparent;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s ease-in-out 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.modal_container-visible{
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s ease-in-out 0.1s;
}

@keyframes motion {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.modal{
    height: 100px;
    width: 310px;
    border-radius: 5px;
    background-color: var(--BG-COLOR);
    position: relative;
    font-size: 28px;
    font-family: sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    animation:motion 1s normal backwards ease-in-out 0.1s 1;
}

/*------------------------------ mediaquery --------------- */

@media  (max-width: 1300px) {
    .nav-list{
        display: none;
    }

    .services_boxes{
        grid-template-columns: 48rem 48rem;
        
    }


    .contact-us_boxes{
        grid-template-columns: 35rem 28rem 28rem;
        gap: 2rem;
    }

}

@media (max-width: 1085px){

/* contact us section */

    .contact-us{
        display: block;
        padding-left: 3rem;
    }

    .contact-us_boxes{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3rem;
    }
}


@media (max-width: 867px){
    .contact-us_boxes{
        grid-template-columns: 1fr;
    }
    
    .quick-links{
        display: none;
    }
}

/* @media (max-width: 640px){

    

}

@media (max-width: 490px){

    
} */

@media (max-width: 420px){
    .contact-us_my_mail a, .contact-us_my_mobile a{
        font-size: 1.5rem;
    }
}